<div class="" data-ng-controller="HeaderController" data-ng-show="global.authenticated">
    <ul class="navbar-nav nav">
        <li>
            <a class="navbar-brand" href="/">クイズ Bプロジェクト!</a>
        </li>
    </ul>
    <!-- <ul class="navbar&#45;nav nav pull&#45;right" data&#45;ng&#45;show="global.authenticated"> -->
    <!--     <li class="dropdown"> -->
    <!--         <a href="#" class="dropdown&#45;toggle" data&#45;toggle="dropdown"> -->
		<!--			{{global.user.name}} さんでログイン<b class="caret"></b> -->
	<!--		</a>/b> -->
    <!--         <ul class="dropdown&#45;menu"> -->
    <!--             <li><a href="/signout">ログアウト</a> -->
    <!--             </li> -->
    <!--         </ul> -->
    <!--     </li> -->
    <!-- </ul> -->
</div>
