.view.ng-enter,
.view.ng-leave {
  transition-duration: 0.25s;
  transition-timing-function: linear;
  display: block;
  width: 100%;
  position: absolute;
}

.view.enterleft.ng-enter {
  background: #fff;
  z-index: 100;
  left: 100%;
}

.view.enterleft.ng-enter.ng-enter-active {
  left: 0;
}

.view.leaveleft.ng-leave {
  left: 0;
  z-index: 100;
  background: #fff;
}

.view.leaveleft.ng-leave.ng-leave-active {
  left: 100%;
  z-index: 0;
}

.view.enterright.ng-enter {
  left: -20%;
  z-index: 1;
  background: #fff;
}

.view.enterright.ng-enter.ng-enter-active {
  left: 0;
}

.view.leaveright.ng-leave {
  left: 0;
  z-index: 1;
}

.view.leaveright.ng-leave.ng-leave-active {
  left: -20%;
  z-index: 0;
}

